[alias]
	br = branch
	ci = commit
	ca = commit -a
	cam = commit -a --amend
	co = checkout
	st = status
	ul = pull
	us = push
	pa = add -p
[color]
	ui = auto
[merge]
	ff = true
	tool = vimdiff
[push]
	default = simple
[core]
	autocrlf = false
[credential]
	helper = cache --timeout=3600
